:root {
  --background: #201e1f;
  --backgroundAccent: #322c2f;
  --ui: #9d6790;
  --text: #faf1f9;
  --textFineprint: #d6b2ce;
  --primary: #d631d6;
  --primaryDark: #961296;
  --primaryText: #faf1f9;
  --secondary: #969696;
  --secondaryDark: #565656;
  --secondaryText: #ffffff;
  --hue: 0deg;
  --error: #fc3f52;
  --success: #3ffc5b;
}

html,
body {
  width: 550px;
  height: 600px;
  background-color: var(--background);
  font-family: "Arial";
  font-size: 14px;
  color: var(--text);
  border-radius: 8px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.tabs {
  background-color: var(--backgroundAccent);

  white-space: nowrap;

  width: 100%;

  box-sizing: border-box;
  height: 38px;
  overflow: hidden;
  padding-top: 4px;
  padding-left: 2px;
  padding-right: 2px;
}
.scrollable-container {
  overflow: scroll;
  scrollbar-width: none;
  white-space: nowrap;

  border: 0px 1px 0px 1px solid var(--ui);
}
.tab {
  display: inline-block;
  background-color: var(--secondary);
  border-radius: 4px;
  transition-duration: 0.1s;
  user-select: none;

  padding: 8px 12px;
  margin-left: 2px;
  margin-right: 2px;

  cursor: pointer;
}
.tab:hover {
  background-color: var(--secondaryDark);
}
.tab.selected {
  background-color: var(--primary);
  padding-bottom: 18px;
}
.tab.selected:hover {
  background-color: var(--primaryDark);
}

.banner {
  background-color: var(--primary);
  color: var(--primaryText);

  height: 38px;

  text-align: center;
}
.banner > p {
  font-size: 20px;
  line-height: 38px; /* this centers the text vertically */
}
.banner > div {
  height: 100%;
  width: 80px;
  line-height: 38px;
}
.banner > div > .icon {
  display: inline;
  line-height: 38px;
}

.status {
  color: var(--textFineprint);
  border-top: 1px solid var(--ui);

  width: 100%;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
}
.status.info {
  color: var(--textFineprint);
}
.status.error {
  color: var(--error);
}
.status.success {
  color: var(--success);
}

.playlist {
  height: 100%;
}

.tag {
  border-radius: 3px 8px 8px 3px;
}

.quickplay-card {
  height: 75px;

  background-color: var(--primary);
  color: var(--text);

  border-radius: 8px;
  margin: 5px;
  padding: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

p {
  line-height: 1;
  margin: 0;
  padding: 0;
}
.title {
  font-size: 18px;
}
.artist {
  font-size: 16px;
}
.fineprint {
  font-size: 12px;
  color: var(--textFineprint);
}

img {
  object-fit: contain;
}
.hue {
  filter: hue-rotate(var(--hue));
}

.icon {
  padding: 5px;
  vertical-align: middle;
}
.icon > path {
  fill: var(--text);
  stroke: var(--text);
  stroke-width: 16px;
}
.icon.fill > path {
  stroke: none !important;
  stroke-width: 0 !important;
}
.icon.stroke > path {
  fill: none !important;
}

button,
input,
select,
.searchinput__control {
  margin: 2px;
}

input,
select,
.searchinput__control {
  background-color: var(--background);
  color: var(--text);

  border: 1px solid var(--ui);

  border-radius: 4px;
  font-size: 14px;
  padding: 5px;
}

input,
.searchinput__control {
  cursor: text !important;
}

button,
select {
  cursor: pointer;
}

button {
  background-color: var(--secondary);
  color: var(--secondaryText);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  transition-duration: 0.1s;
}
button.wide {
  width: 120px;
}
button > svg > path {
  fill: var(--secondaryText);
  stroke: var(--secondaryText);
}
button:hover {
  background-color: var(--secondaryDark);
}
button.primary {
  background-color: var(--primary);
  color: var(--primaryText);
}
button.primary > svg > path {
  fill: var(--primaryText);
  stroke: var(--primaryText);
}
button.primary:hover {
  background-color: var(--primaryDark);
}
button > svg {
  padding: 0px 5px 0px 0px;
}

input::placeholder {
  color: var(--textFineprint);
  opacity: 1;
}

select:hover {
  background-color: var(--secondaryDark);
}
select > option:hover,
select > option:checked {
  background-color: var(--secondaryDark);
}

.searchinput__control--menu-is-open {
  border-radius: 4px 4px 0px 0px;
}
.searchinput__menu {
  background-color: var(--background);
  color: var(--text);
  padding: 5px;
  border: 1px solid var(--backgroundAccent);
  border-radius: 0px 0px 4px 4px;
}
.searchinput__option {
  padding: 5px;
}
.searchinput__option--is-focused {
  background: var(--backgroundAccent);
}
.searchinput__indicators {
  display: none !important;
}
.searchinput__placeholder {
  color: var(--textFineprint);
}
.searchinput__no-options-message {
  padding: 5px;
}
.searchinput__no-options-message {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.searchinput__value-container {
  gap: 5px;
}
.searchinput__multi-value {
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 3px;
  gap: 3px;
}

.rating > img,
.rating > svg {
  padding: 3px 1.5px;
}
.rating > svg > path {
  fill: var(--primary);
  stroke: var(--primary);
}
.rating > svg:hover > path {
  fill: var(--primaryDark);
  stroke: var(--primaryDark);
}
.rating > svg.disabled:hover > path {
  fill: var(--primary);
  stroke: var(--primary);
}

.hidden {
  display: none;
}
.noclick {
  pointer-events: none;
  background-color: #662866;
  cursor: not-allowed;
}

.expand {
  width: 100%;
  height: 100%;
}
