:root {
  --background: #201e1f;
  --backgroundAccent: #322c2f;
  --ui: #9d6790;
  --text: #faf1f9;
  --textFineprint: #d6b2ce;
  --primary: #d631d6;
  --primaryDark: #961296;
  --primaryText: #faf1f9;
  --secondary: #4b0082;
  --secondaryDark: #2c004b;
  --secondaryText: #ffffff;
  --hue: 300deg;
  --error: #fc3f52;
  --success: #3ffc5b;
}

html,
body {
  width: 550px;
  height: 600px;
  background-color: var(--background);
  font-family: "Arial";
  font-size: 14px;
  color: var(--text);
  border-radius: 8px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
}

.page {
  flex-grow: 1;
  overflow: hidden;
}

.playlist {
  height: 100%;
  overflow: hidden;
}
.playlistItem {
  text-wrap: wrap;
  background-color: var(--background);
}
.playlistItem.selected {
  background-color: var(--secondary);
  color: var(--secondaryText);
}

p {
  line-height: 1;
  margin: 0;
  padding: 0;
}
.fineprint {
  font-size: 12px;
  color: var(--textFineprint);
}

.icon {
  display: block;
}
.icon > path {
  fill: var(--text);
  stroke: var(--text);
}
.icon.primary > path {
  fill: var(--primary);
  stroke: var(--primary);
}
.icon.secondary > path {
  fill: var(--secondary);
  stroke: var(--secondary);
}

input,
select,
.searchinput__control {
  background-color: var(--background);
  color: var(--text);

  border: 1px solid var(--primaryDark);

  border-radius: 4px;
  font-size: 14px;
  padding: 5px;
}

input {
  cursor: text;
}
input:disabled {
  background-color: var(--backgroundAccent);
  color: var(--textFineprint);
  cursor: not-allowed;
}
input::placeholder {
  color: var(--textFineprint);
  opacity: 1;
}

select {
  cursor: pointer;
}
select > option:checked {
  background-color: var(--secondaryDark);
}

button {
  background-color: var(--secondary);
  color: var(--secondaryText);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition-duration: 0.1s;
}
button.wide {
  padding: 5px 20px 5px 20px;
}
button > svg.icon > path {
  fill: var(--secondaryText);
  stroke: var(--secondaryText);
}
button.primary {
  background-color: var(--primary);
  color: var(--primaryText);
}
button.primary > svg.icon > path {
  fill: var(--primaryText);
  stroke: var(--primaryText);
}

button:hover,
select:hover,
select > option:hover,
.icon:not(.disabled):hover,
.tab:not(.selected):hover,
.playlistItem:not(.selected):hover,
.quickplay-card:hover {
  filter: brightness(0.7) contrast(1.2);
}

.hidden {
  display: none;
}
.noclick {
  pointer-events: none;
  background-color: #662866;
  cursor: not-allowed;
}

.expand {
  width: 100%;
  height: 100%;
}
