.banner {
  background-color: var(--primary);
  color: var(--primaryText);

  height: 38px;

  text-align: center;

  p {
    font-size: 20px;
    line-height: 38px; /* this centers the text vertically */
  }

  div {
    height: 100%;
    width: 80px;
    line-height: 38px;

    .icon {
      display: inline;
      line-height: 38px;
    }
  }
}
